# MacOs specific files
.DS_Store

# IDE specific folders
.idea/
.vscode/

# node-modules
node_modules/

# compiler output
dist/

# env files
.env

# currently until finish keep resume out
src/assets/Lebenslauf.pdf